* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 22px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  border: 1px solid orange;
  margin: 0 auto;
}


header {
  width: calc(100% - 2px);
  background: red;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

main {
  display: flex;
  background: wheat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  overflow-x: hidden;

}



footer {
  width: 100%;
  padding: 0.2;
  background: orange;
  display: grid;
  place-content: center;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;

}

ul li:before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background: blue; */
  padding: 0.5rem 0 0.5rem 0.5rem;
  background: skyblue;
  width: 480px;
  margin-top: 2px;
  margin-bottom: 2px;



}

.item:first-child {
  /* background: pink; */
  margin: 0;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  margin: 0.5rem;
  cursor: pointer;

}

.item input[type="checkbox"]:focus+label {
  text-decoration: underline;
}

.item>label {
  font-size: 0.75rem;
  flex: 1;
  /* background: green; */

}

.item svg {
  width: 48px;
  /* background: yellow; */
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

/* .item svg:focus,
.item svg:hover {
  color: green;
} */

/* FORM STYLE */
.addForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-radius: 1px solid #eee;
  gap: 0.5rem;
}

.addForm label {
  position: absolute;
  left: -99999px;
  background: red;
}

.addForm input[type="text"] {
  flex-grow: 1;
  max-width: calc(100% -50px);
  min-height: 48px;
  font-size: 1rem;
  background-color: aliceblue;
  color: red;
  cursor: pointer;
}

button {
  height: 48px;
  background-color: aliceblue;
  min-width: 48px;
  padding: 0.5rem;
  font-size: 1rem;
  color: mediumblue;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover,
button:focus {
  color: white;
  background-color: limegreen;
  outline: none;
}




.item svg:focus,
.item svg:hover {
  color: red;
  outline: none;
}

/* FORM STYLE END  */


/* SEARCH FORM STYLE */
.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}

.searchForm label {
  /* background: green; */
  position: absolute;
  left: -9999999px
}

.searchForm input[type="text"] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25re;
  border-radius: 0.25rem;
  outline: none;

}

/* SEARCH FORM STYLE END */